body{
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
	font-family: 'Montserrat', sans-serif;

}

/*Contenedor Flexbox*/
.flex-container{
	display: flex;
}

/*Menú*/

.menu{
	background-color: #190426;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%

}


.menu.flex-container{
	justify-content: flex-start;
}

.logo-container {
	margin-right: auto;
	margin-left: 30px;

}
.logo{
	padding: 10px;
	width: 60px;
	
}

.menu a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;
}

.button {
	border-style: solid;
	border-width: 1px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;

}
#signUp{
	display: none;
}

#login{
	background: transparent;
	color: white;
	border: 1px solid #ff3385;
	padding: 1px 10px;
	
}

.caja-texto{
	width: 450px;
	height: auto;
	background-color: white;
	margin-left: auto;
	margin-top: 165px;
	flex-direction: column;
	color: #190426;
	padding: 30px;
}
.caja-texto h1{
	font-size: 40px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	line-height: 1.1;
	color: #352384; /*azul*/
}

#home{
	padding-bottom: 100px;
}
#video{
	margin: 0;
	padding: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: auto;
	
}

#become{
	background-color: #ff00bf;
	border-radius: 7px;
	padding: 10px;
	margin-top: 20px;
	color: white;
}
.caja-texto h3{
	color: #352384;

}

#become a{
	margin-left: 15px;

}

#ride-minutes{
	background: linear-gradient(#76278f,#2b1E66);
	color: white;
	justify-content: space-around;
	align-items: center;

}
.texto-ride{
	padding: 20px 50px;
	margin-left: 65px;
}
.texto-ride h2{
	font-size: 37px;
	font-weight: 400;
	margin: 0;
	padding: 3px;
	line-height: 1.0;
}
#ride-minutes img{
	width: 40%;
	height: 40%;
	padding: 50px;
	margin-left: auto;
	margin-right: 30px;
}


.texto-watch{
	padding: 20px 50px;
	margin-left: 65px;
	width: 400px;
	margin-top: 143px;
}
.texto-watch h3 p{
	font-size: 37px;
	font-weight: 400;
	margin: 0;
	padding: 3px;
	line-height: 1.0;
	}
#you{
	margin-top: 43px;
	width: 240%;
	height: 120%;
}

.links{
	padding: 25px;
	margin-top: 118px;
	background-color: #0e0e25;
	color: white;
}

.login a {
	font-size: 11px;
	display: block;
	color: whitesmoke;
	margin: 10px 130px;

}
.login h3{
	margin: 10px 128px;

}

.links.logos{
	margin-top: 150px;
}

.icon {
	color: white;
	text-align:center;
}