body{
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
	font-family: 'Montserrat', sans-serif;;
}

/*Contenedor Flexbox*/
.flex-container{
	display: flex;
}

/*Menú*/

.menu{
	background-color: #190426;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%

}


.menu.flex-container{
	justify-content: flex-start;
}

.logo-container {
	margin-right: auto;
	margin-left: 30px;

}
 .logo{
	padding: 10px;
	width: 60px;
	
}

.menu a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;
}

.button {
    border-style: solid;
    border-width: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}


#home{
	background-image: url(../img-lyft/lyft-amp-illo-1200x630.png);

	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;


	justify-content: center;/*Se posicionan justo en el centro de la sección, en ambos ejes.*/
	align-items: center; /*Se posicionan justo en el centro de la sección, en ambos ejes.*/
	
	flex-direction: column; /*Desplegar en forma vertical*/

	color: whitesmoke;


}

#home .caja{

background-color: white;
}

